<ion-content
  ><app-menu [mode]="'customer'"></app-menu>
  <div class="flex flex-col items-center">
    <div class="text-center text-3xl align-middle w-52 mt-5 dark:text-white">
      <p>Buscador</p>
    </div>
    <div class="mt-3">
      <ion-searchbar
        search-icon="search"
        class="rounded-md p-2 text-gray-700 text-lg w-56"
        [(ngModel)]="searcher"
      ></ion-searchbar>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 columns-2 mt-5 justify-center mx-auto p-7">
    <app-card-search
      *ngFor="let location of onSearch()"
      [location]="location"
      (locationId)="subscribeThisLocation($event)"
      class="w-[16rem] m-2 sm:w-96"
    ></app-card-search>
  </div>
</ion-content>
