<div class="relative flex bg-slate-400 w-full rounded">
  <div class="flex gap-5">
    <picture class="w-20">
      <img
        class="w-20 rounded"
        src="http://localhost:8080/images/{{ location.location_img }}"
        alt="{{ location.name }}"
      />
    </picture>
    <div class="w-[12rem] flex items-center">
      <p>{{ location.name }}</p>
    </div>
  </div>
  <div class="absolute right-0">
    <div class="w-full flex justify-end mt-1 mr-1 relative">
      <ion-icon
        name="ellipsis-vertical-outline"
        class="text-xl cursor-pointer"
        (click)="open(location)"
      ></ion-icon>
      <div class="absolute right-6 -top-4" *ngIf="location.showText">
        <div class="flex items-center relative w-fit">
          <div class="w-32 bg-slate-500 rounded p-2 text-white">
            <button (click)="subscribe(location.id)">
              Suscribirte a este municipio
            </button>
          </div>
          <div
            class="w-5 h-5 bg-slate-500 rotate-45 absolute -right-2 rounded z-10"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
