.container-card {
  width: 334px;
  height: 78px;
  border-radius: 8px;
  background: #606878;
  position: relative;
  margin: 0 auto;
}
.location-img {
  max-width: 70px;
  max-height: 78px;
}

.content {
  display: flex;
  gap: 15px;
}

.location-img > img {
  border-radius: 8px;
}

.menu {
  position: absolute;
  right: 15px;
  top: 5px;
}
.hidden {
  display: none;
}
