<ion-content>
  <app-menu [mode]="'admin'"></app-menu>
  <div class="flex justify-center">
    <div class="text-center text-3xl align-middle w-52 mt-5">
      <p>Eventos de tus municipio</p>
    </div>
    <div class="absolute right-2 top-[80px]">
      <ion-icon
        name="add-circle-outline"
        routerLink="/add-events"
        class="text-6xl text-slate-700 cursor-pointer"
      ></ion-icon>
    </div>
  </div>
  <div class="flex flex-wrap gap-5 columns-2 mt-5 justify-center m-7">
    <app-card
      [mode]="'admin'"
      *ngFor="let event of events"
      [event]="event"
      (change)="deleteOneEvent($event)"
    ></app-card>
  </div>
</ion-content>
