<div class="p-4">
  <ul class="list-none">
    <li
      (click)="changeMode()"
      class="flex items-center cursor-pointer"
      *ngIf="rol === 'admin'"
    >
      <ion-icon name="people-outline" class="text-3xl mr-2"></ion-icon>
      Cambiar de Modo
    </li>
    <li class="flex items-center cursor-pointer">
      <a
        href="/assets/html/Ayuda.html"
        class="no-underline flex align-middle items-center text-black"
      >
        <ion-icon
          name="information-circle-outline"
          class="text-3xl mr-2"
        ></ion-icon>
        Ayuda
      </a>
    </li>
    <li (click)="logout()" class="flex items-center cursor-pointer">
      <ion-icon name="log-out-outline" class="text-3xl mr-2"></ion-icon>
      Cerrar Sesión
    </li>
  </ul>
</div>
