<div
  class="w-full h-full sm:h-44 bg-slate-400 flex flex-col sm:flex-row rounded gap-3 shadow-lg text-black transform hover:scale-105 transition-transform"
>
  <picture class="w-full max-w-96 h-52 sm:h-full">
    <img
      class="w-full h-full sm:w-52 rounded object-cover"
      src="http://localhost:8080/images/{{ event.img }}"
      alt="{{ event.img }}"
    />
  </picture>
  <div class="relative ml-4">
    <div class="w-40 h-6 text-sm mt-3">
      <p class="truncate">{{ event.name }}</p>
    </div>

    <div class="h-[95px] overflow-hidden text-sm w-44 sm:w-52 mr-9">
      <p class="whitespace-pre-wrap truncate">{{ event.description }}</p>
    </div>

    <div
      class="mt-5 sm:mt-0 sm:absolute bottom-0 w-full flex justify-around text-sm mb-2"
    >
      <p>{{ event.price }}€</p>
      <p class="truncate w-7/12 text-center">{{ event.locationName }}</p>
    </div>

    <div
      class="absolute flex sm:flex-col right-1 top-0"
      *ngIf="mode === 'admin'"
    >
      <picture (click)="deleteOneEvent(event.id)" class="cursor-pointer">
        <ion-icon name="trash-outline" class="text-lg md:text-xl"></ion-icon>
      </picture>
      <picture class="cursor-pointer">
        <ion-icon
          name="pencil-outline"
          [routerLink]="['/modify-event', { id: event.id }]"
          class="text-lg md:text-xl"
        ></ion-icon>
      </picture>
    </div>
  </div>
</div>
