.card {
  position: relative;
  display: flex;
  width: 334px;
  height: 257px;
  border-radius: 8px;
  background: #606878;
}
img {
  border-radius: 8px;
  width: 128px;
  height: 100%;
  border: 1px #606878 solid;
}
.card-content {
  margin-left: 10px;
  position: relative;
}

.header {
  width: 160px;
  height: 2.5em;
  overflow: hidden;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-body {
  position: absolute;
  top: 65px;
  width: 170px;
  height: 8.52em;
  overflow: hidden;
  line-clamp: 7;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.card-footer {
  position: absolute;
  width: 170px;
  display: flex;
  justify-content: space-between;
  bottom: 0;
}

.body,
.footer {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.delete-svg {
  position: absolute;
  right: 3px;
  width: 25px;
  height: 25px;
}
.update-svg {
  position: absolute;
  right: 7px;
  top: 25px;
  width: 20px;
  height: 20px;
}
