<ion-content>
  <app-menu [mode]="'customer'"></app-menu>
  <p class="text-3xl text-center mt-9">Tus Notificaciones</p>

  <div class="flex justify-center flex-col items-center mt-10">
    <div
      *ngFor="let notification of notifications"
      class="border border-gray-300 bg-slate-500 p-6 mb-4 rounded-lg shadow-md max-w-[15rem] sm:max-w-[25rem] w-full"
    >
      <p class="text-xl font-semibold text-white capitalize mb-2">
        {{notification.title}}
      </p>
      <div *ngIf="!notification.expanded" class="text-white">
        {{notification.message | slice:0:50}}
        <button
          *ngIf="notification.message.length > 50"
          (click)="expandNotification(notification)"
          class="text-white underline"
        >
          Mostrar más
        </button>
      </div>
      <div *ngIf="notification.expanded" class="text-white">
        {{notification.message}}
        <button
          (click)="contractNotification(notification)"
          class="text-white underline"
        >
          Mostrar menos
        </button>
      </div>
    </div>
  </div>
</ion-content>
