<ion-content>
  <app-menu [mode]="'admin'"></app-menu>
  <h1 class="text-4xl text-center">Mandar notificaciones</h1>
  <div class="pt-20 flex items-center justify-center">
    <div
      class="max-w-md mx-auto bg-slate-500 text-white p-8 rounded-md shadow-md"
    >
      <h2 class="text-2xl font-semibold mb-4">Enviar Mensaje</h2>
      <form [formGroup]="messageForm">
        <div class="mb-4">
          <label for="titulo" class="block text-gray-50 text-sm font-bold mb-2"
            >Título:</label
          >
          <input
            type="text"
            id="titulo"
            formControlName="title"
            name="titulo"
            class="w-full p-2 border rounded-md bg-slate-700 text-gray-50"
          />
        </div>

        <div class="mb-4">
          <label for="mensaje" class="block text-gray-50 text-sm font-bold mb-2"
            >Mensaje:</label
          >
          <textarea
            id="mensaje"
            name="mensaje"
            formControlName="message"
            rows="4"
            class="w-full p-2 border rounded-md overflow-y-auto bg-slate-700 text-gray-50"
          ></textarea>
        </div>

        <div class="mb-4">
          v
          <label
            for="localidad"
            class="block text-gray-50 text-sm font-bold mb-2"
            >Localidad:</label
          >
          <select
            id="localidad"
            name="localidad"
            formControlName="location"
            class="w-full p-2 border rounded-md bg-slate-700 text-gray-50"
          >
            <option value="all">Todas las localidades</option>
            <option *ngFor="let location of locations" value="{{location.id}}">
              {{location.name}}
            </option>
          </select>
        </div>

        <div>
          <button
            type="submit"
            class="bg-slate-700 text-white p-2 rounded-md hover:bg-slate-600"
            (click)="sendMessage()"
          >
            Enviar Mensaje
          </button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
