<ion-content>
  <app-menu [mode]="rol" (click)="closePopup()"></app-menu>

  <main class="container">
    <section class="profile" (click)="openPopup()">
      {{userInfo.name}}
      <img src="{{userInfo.profile_picture}}" alt="Imagen de perfil" />
    </section>

    <section class="about-me">
      <h3 class="about-me-text">Acerca de mí:</h3>
    </section>
  </main>
  <section class="popup">
    <section class="popup-buttons">
      <p>Cambiar perfil</p>
      <p>Cambiar de modo</p>
      <p (click)="logout()">Cerrar sesión</p>
    </section>
  </section>
</ion-content>
