.profile {
  width: 334px;
  height: 179px;
  border-radius: 8px;
  background: linear-gradient(90deg, #606878 0%, rgba(96, 104, 120, 0.25) 100%);
  margin: 0 auto;
}

.about-me {
  position: absolute;
  top: 215px;
  margin: 0 auto;
  width: 334px;
  height: 307px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #959cab;
  background: linear-gradient(90deg, #606878 0%, rgba(96, 104, 120, 0.25) 100%);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 4rem;
}

.popup {
  background: rgba(149, 156, 171, 0.45);
  position: absolute;
  top: 68px;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.popup-buttons {
  position: relative;
  top: 25px;
  margin: 0 auto;
  width: 310px;
  height: 272px;
  border-radius: 8px;
  background: #959cab;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popup-buttons {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hidden {
  display: block;
}
.about-me-text {
  padding-top: 1.5rem;
  padding-left: 1rem;
}
