<ion-content>
  <div class="bg-slate-500 flex justify-center text-white">
    <p class="text-4xl pb-2 pt-2 h-[3.375rem]">EventFlow</p>
  </div>
  <div class="flex justify-center">
    <div class="text-center text-3xl align-middle w-52 mt-5">
      <p>Ver y Registrar Municipios</p>
    </div>
    <div class="absolute left-1 top-24">
      <ion-icon
        name="arrow-back-circle-outline"
        class="text-5xl cursor-pointer"
        routerLink="/admin-page"
      ></ion-icon>
    </div>
  </div>
  <div class="">
    <div class="flex flex-wrap justify-evenly">
      <div class="p-4 rounded">
        <form
          [formGroup]="locationForm"
          class="flex flex-col gap-5 text-white bg-slate-500 w-fit p-5 sm:p-8 rounded"
        >
          <div>
            <label class="text-lg" for="name"> Nombre del Municipio:</label>
            <input
              type="text"
              placeholder="Nombre del municipio"
              formControlName="name"
              id="name"
              class="text-black block border p-2 focus:outline-none focus:ring focus:ring-blue-200 rounded"
            />
          </div>
          <div>
            <label class="text-lg">Imagen del Municipio:</label>
            <button
              *ngIf="!capturedPhoto"
              (click)="selectImage()"
              class="block bg-blue-500 text-white py-3 px-5 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800"
            >
              Seleccionar imagen
            </button>
            <div class="flex">
              <button
                *ngIf="capturedPhoto"
                (click)="discardImage()"
                class="block bg-red-500 text-white py-3 px-5 rounded hover:bg-red-700 focus:outline-none focus:shadow-outline-blue active:bg-red-800"
              >
                Descartar imagen
              </button>
              <button
                *ngIf="capturedPhoto"
                (click)="openPopover($event)"
                class="text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue"
              >
                <ion-icon name="eye-outline"></ion-icon>
              </button>
            </div>
          </div>
          <div class="mt-5 flex justify-center">
            <button
              (click)="onAdd()"
              class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700 focus:outline-none focus:shadow-outline-blue active:bg-green-800"
            >
              Añadir municipio
            </button>
          </div>
        </form>
      </div>
      <div class="p-8 relative">
        <!-- Buscador -->
        <ion-searchbar
          search-icon="search"
          class="rounded-3xl p-2 text-gray-700 text-lg w-56 m-auto mb-3"
          [(ngModel)]="searcher"
        ></ion-searchbar>

        <table
          class="max-w-[45%] sm:max-w-[100%] bg-white border border-gray-300 shadow-lg rounded-lg overflow-hidden"
        >
          <thead>
            <tr class="bg-gray-200">
              <th
                class="py-2 px-4 sm:py-3 sm:px-6 text-left font-bold text-gray-600"
              >
                Municipio
              </th>
              <th
                class="py-2 px-4 sm:py-3 sm:px-6 text-left font-bold text-gray-600"
              >
                Acción
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let location of onSearch()" class="hover:bg-gray-100">
              <td class="py-2 px-4 sm:py-4 sm:px-6 border-b border-gray-300">
                <p class="w-16 sm:w-full">{{ location.name }}</p>
              </td>
              <td class="py-2 px-4 sm:py-4 sm:px-6 border-b border-gray-300">
                <button
                  (click)="deleteLocation(location.id)"
                  class="bg-red-500 hover:bg-red-700 focus:outline-none text-white p-2 rounded"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>
