<div *ngIf="mode === 'admin'">
  <div class="flex justify-center text-white bg-slate-500 w-full">
    <div class="flex justify-between align-middle w-[95%] h-full">
      <h2 class="text-3xl cursor-pointer" routerLink="/home">EventFlow</h2>
      <div class="flex justify-center md:invisible" (click)="switch()">
        <img src="/assets/menu.svg" alt="menu" *ngIf="!showMenu" />
        <img src="/assets/cross.svg" alt="menu" *ngIf="showMenu" />
      </div>
      <div
        class="hidden md:text-lg md:flex md:justify-end md:align-bottom md:w-[60%] gap-7"
      >
        <button
          class="relative text-xl text-white overflow-hidden transition-transform transform-gpu group focus:outline-none"
        >
          <span class="relative z-10" routerLink="/home">Ver Eventos</span>
          <span
            class="absolute top-10 inset-x-0 bottom-0 h-0.5 bg-white transform origin-bottom scale-x-0 transition-transform group-hover:scale-x-100"
          ></span>
        </button>

        <button
          class="relative text-xl text-white overflow-hidden transition-transform transform-gpu group focus:outline-none"
        >
          <ion-icon name="send-outline" routerLink="/send-message"></ion-icon>
          <span
            class="absolute top-10 inset-x-0 bottom-0 h-0.5 bg-white transform origin-bottom scale-x-0 transition-transform group-hover:scale-x-100"
          ></span>
        </button>

        <button
          class="relative text-xl text-white overflow-hidden transition-transform transform-gpu group focus:outline-none"
          (click)="showOptionsPopover($event)"
        >
          <ion-icon name="person-outline"></ion-icon>

          <span
            class="absolute top-10 inset-x-0 bottom-0 h-0.5 bg-white transform origin-bottom scale-x-0 transition-transform group-hover:scale-x-100"
          ></span>
        </button>
      </div>

      <div
        class="fixed top-[63px] flex flex-col justify-evenly bg-slate-400 text-black w-full bottom-0 left-0 z-10 nav-menu md:hidden"
        [ngClass]="{ show: showMenu }"
      >
        <button class="text-2xl text-white" routerLink="/home">
          Ver Eventos
        </button>
        <button class="text-2xl text-white" routerLink="/send-message">
          Mandar Notificaciones
        </button>
        <button class="text-2xl text-white" routerLink="/change-mode">
          Cambiar de modo
        </button>
        <button class="text-2xl text-white" (click)="logout()">
          Cerrar sesión
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mode === 'customer'">
  <div class="flex justify-center text-white bg-slate-500 w-full">
    <div class="flex justify-between align-middle w-[95%] h-full">
      <h2 class="text-3xl cursor-pointer" routerLink="/events">EventFlow</h2>
      <div class="flex justify-center md:invisible" (click)="switch()">
        <img src="/assets/menu.svg" alt="menu" *ngIf="!showMenu" />
        <img src="/assets/cross.svg" alt="menu" *ngIf="showMenu" />
      </div>
      <div
        class="hidden md:text-lg md:flex md:justify-end md:align-bottom md:w-[90%] gap-5"
        [ngClass]="{ show: showMenu }"
      >
        <button
          class="relative text-xl text-white overflow-hidden transition-transform transform-gpu group focus:outline-none"
        >
          <span class="relative z-10" routerLink="/events"
            >Eventos Populares</span
          >
          <span
            class="absolute top-10 inset-x-0 bottom-0 h-0.5 bg-white transform origin-bottom scale-x-0 transition-transform group-hover:scale-x-100"
          ></span>
        </button>
        <button
          class="relative text-xl text-white overflow-hidden transition-transform transform-gpu group focus:outline-none"
        >
          <span class="relative z-10" routerLink="/your-events">
            Eventos en los que participas
          </span>
          <span
            class="absolute top-10 inset-x-0 bottom-0 h-0.5 bg-white transform origin-bottom scale-x-0 transition-transform group-hover:scale-x-100"
          ></span>
        </button>

        <button
          class="relative text-xl text-white overflow-hidden transition-transform transform-gpu group focus:outline-none"
        >
          <ion-icon
            name="notifications-outline"
            routerLink="/your-notifications"
          ></ion-icon>
          <span
            class="absolute top-10 inset-x-0 bottom-0 h-0.5 bg-white transform origin-bottom scale-x-0 transition-transform group-hover:scale-x-100"
          ></span>
        </button>
        <button
          class="relative text-xl text-white overflow-hidden transition-transform transform-gpu group focus:outline-none"
        >
          <ion-icon name="search-outline" routerLink="/search"></ion-icon>
          <span
            class="absolute top-10 inset-x-0 bottom-0 h-0.5 bg-white transform origin-bottom scale-x-0 transition-transform group-hover:scale-x-100"
          ></span>
        </button>

        <button
          class="relative text-xl text-white overflow-hidden transition-transform transform-gpu group focus:outline-none"
          (click)="showOptionsPopover($event)"
        >
          <ion-icon name="person-outline"></ion-icon>

          <span
            class="absolute top-10 inset-x-0 bottom-0 h-0.5 bg-white transform origin-bottom scale-x-0 transition-transform group-hover:scale-x-100"
          ></span>
        </button>
      </div>
      <div
        class="fixed top-[63px] flex flex-col justify-evenly bg-slate-400 text-black w-full bottom-0 left-0 z-10 nav-menu md:hidden"
        [ngClass]="{ show: showMenu }"
      >
        <button class="text-xl text-white" routerLink="/events">
          Eventos populares
        </button>
        <button class="text-xl text-white" routerLink="/your-events">
          Eventos en los que participas
        </button>
        <button class="text-xl text-white" routerLink="/your-notifications">
          Notificaciones
        </button>
        <button class="text-xl text-white" routerLink="/search">
          Busqueda
        </button>
        <button
          class="text-xl text-white"
          routerLink="/change-mode"
          *ngIf="rol.rol === 'admin'"
        >
          Cambiar de modo
        </button>
        <button class="text-xl text-white" (click)="logout()">
          Cerrar sesión
        </button>
      </div>
    </div>
  </div>
</div>
