<header class="bg-slate-500 flex justify-center">
  <h2 class="text-4xl pb-2 pt-2 text-r h-[3.375rem]">EventFlow</h2>
</header>

<ion-content>
  <picture class="relative top-6 left-5" routerLink="/admin-page">
    <img src="/assets/arrow-left.svg" alt="arrow-left" />
  </picture>
  <main class="pt-4 flex-col flex justify-center gap-12">
    <section class="flex justify-center text-center">
      <h1 class="text-4xl w-56">Usuarios Registados</h1>
    </section>
    <section class="overflow-auto rounded-lg shadow w-full">
      <table class="w-full">
        <thead class="bg-slate-100 border-b-2 border-slate-200">
          <tr>
            <th class="p-3 text-sm font-semibold tracking-wide text-left">
              Nombre
            </th>
            <th class="p-3 text-sm font-semibold tracking-wide text-left">
              Email
            </th>
            <th class="p-3 text-sm font-semibold tracking-wide text-left">
              Administrador
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of users"
            class="odd:bg-slate-100 even:bg-slate-300"
          >
            <td
              *ngIf="user.rol ==='admin' || user.rol ==='customer' "
              class="p-1 text-sm text-black whitespace-nowrap"
            >
              {{user.name}}
            </td>
            <td
              *ngIf="user.rol ==='admin' || user.rol ==='customer' "
              class="p-1 text-sm text-black whitespace-nowrap"
            >
              {{user.email}}
            </td>
            <td
              *ngIf="user.rol ==='admin' || user.rol ==='customer' "
              class="p-1 text-sm text-black whitespace-nowrap"
            >
              <label
                class="relative inline-flex items-center mb-5 cursor-pointer border"
              >
                <input
                  type="checkbox"
                  value=""
                  class="sr-only peer"
                  [(ngModel)]="user.isAdmin"
                  (click)="removeOrAddAdmin(user)"
                />
                <div
                  class="w-9 h-5 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
                ></div>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</ion-content>
