<ion-content>
  <div class="bg-slate-500 flex justify-center text-white">
    <p class="text-4xl pb-2 pt-2 h-[3.375rem]">EventFlow</p>
  </div>
  <div class="flex justify-center">
    <div class="text-center text-3xl align-middle w-52 mt-5">
      <p>Usuarios registrados</p>
    </div>
    <div class="absolute left-1 top-20">
      <ion-icon
        name="arrow-back-circle-outline"
        class="text-5xl cursor-pointer"
        routerLink="/admin-page"
      ></ion-icon>
    </div>
  </div>
  <div class="pt-4 flex-col flex justify-center gap-12">
    <ion-searchbar
      search-icon="search"
      class="rounded-md p-2 text-gray-700 text-lg w-56 m-auto mb-3"
      [(ngModel)]="searcher"
    ></ion-searchbar>
    <div class="overflow-auto rounded-lg shadow w-10/12 m-auto -mt-10 mb-9">
      <table
        class="w-full bg-white border border-gray-300 shadow-lg rounded-lg overflow-hidden"
      >
        <thead>
          <tr class="bg-gray-200">
            <th
              class="py-2 px-4 sm:py-3 sm:px-6 text-left font-bold text-gray-600"
            >
              Nombre
            </th>
            <th
              class="py-2 px-4 sm:py-3 sm:px-6 text-left font-bold text-gray-600"
            >
              Email
            </th>
            <th
              class="py-2 px-4 sm:py-3 sm:px-6 text-left font-bold text-gray-600"
            >
              Administrador
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of onSearch()" class="hover:bg-gray-100">
            <td
              *ngIf="user.rol ==='admin' || user.rol ==='customer' "
              class="py-2 px-4 sm:py-4 sm:px-6 border-b border-gray-300"
            >
              {{user.name}}
            </td>
            <td
              *ngIf="user.rol ==='admin' || user.rol ==='customer' "
              class="py-2 px-4 sm:py-4 sm:px-6 border-b border-gray-300"
            >
              {{user.email}}
            </td>
            <td
              *ngIf="user.rol ==='admin' || user.rol ==='customer' "
              class="py-2 px-4 sm:py-4 sm:px-6 border-b border-gray-300"
            >
              <label
                class="relative inline-flex items-center mb-5 cursor-pointer"
              >
                <input
                  type="checkbox"
                  value=""
                  class="sr-only peer"
                  [(ngModel)]="user.isAdmin"
                  (click)="removeOrAddAdmin(user)"
                />
                <div
                  class="w-9 h-5 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
                ></div>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
