<ion-content>
  <div class="flex flex-col h-screen justify-center items-center">
    <div class="text-white text-center mb-10 w-52 sm:w-full">
      <p class="text-6xl">EVENT FLOW</p>
    </div>
    <div class="flex justify-center">
      <div class="bg-slate-500 w-fit h-72 p-10 rounded">
        <div class="flex flex-col pt-2 items-center h-full justify-around">
          <div>
            <button class="bg-white py-3 px-12 rounded w-52" routerLink="/home">
              Cambiar a modo admin
            </button>
          </div>
          <div>
            <button
              class="bg-white py-3 px-12 rounded w-52"
              routerLink="/events"
            >
              Cambiar a modo usuario normal
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
