.container-form {
  margin: auto;
  width: 297px;
  height: fit-content;
  background-color: rgba(108, 117, 125, 0.75);
  border-radius: 8px;
  padding: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item input,
.item ion-select,
.item textarea {
  border: 0;
  background-color: white;
  color: #000;
}
.item,
label {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item ion-select,
.item input,
ion-datetime-button {
  width: 250px;
  height: 25px;
  border-radius: 4px;
}

.item textarea {
  resize: none;
  overflow: hidden;
  min-height: 64px;
  max-width: 300px;
  font-size: 1em;
  line-height: 1.5;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  transition: all 0.3s ease;
  border: none;
  color: inherit;
  border-radius: 8px;
  color: #000;
}
.photo-frame {
  position: relative;
  width: 150px;
  bottom: 0;
  right: 0;
}
